.nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: solid 1px rgba(121, 121, 121, 0.3);
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__li {
    position: relative;
    color: #2F363E;
}
.nav__notification {
    background-color: #FF6228;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 15px;
    
}